.container {
  height: 100%;
  padding: 40px;
  background: #fafafa;
}

.endpointsTable {
  width: 100%;

  table {
    border-spacing: 0 15px;
    border-collapse: separate;
  }

  th,
  td {
    padding: 10px;
  }

  th {
    text-align: left;
  }

  tbody tr:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

.method {
  padding: 5px;
  background-color: #ddd;
  font-size: 12px;
}
